.popover {
  @apply absolute bottom-full max-w-[200px] w-full p-4 flex flex-col gap-2 items-center bg-[#060404] z-10 rounded-lg border border-solid border-[#414141];
  transform: translateY(16px);
  animation: smoothAppear 0.3s;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
