.modalWrapper {
  @apply absolute top-0 left-0 w-full h-full flex justify-center items-center z-50 backdrop-blur-lg;
  animation: smoothAppear 0.3s;
}

.modal {
  @apply relative max-w-[30%] w-full flex flex-col gap-5 justify-between items-center bg-[#060404] rounded-lg border border-solid border-[#414141] p-[2em];
  h2 {
    @apply font-medium text-xl text-center;
  }
  p {
    @apply text-center;
  }
  animation: smoothAppear 0.3s;
}

.closeButton {
  @apply p-1 absolute top-4 right-4 cursor-pointer transition-all rounded-full;
  &:hover {
    @apply bg-[#41414148];
  }
}

.buttonsContainer {
  @apply flex self-end gap-4;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
