.modalWrapper {
  @apply absolute top-0 left-0 w-full h-full flex justify-center items-center z-50 backdrop-blur-lg;
  animation: smoothAppear 0.3s;
}

.modal {
  @apply relative max-w-[30%] flex flex-col gap-5 justify-between items-center bg-[#060404] rounded-lg border border-solid border-[#414141] p-[2em];
  h2 {
    @apply font-medium text-xl text-center;
  }
  p {
    @apply text-center;
  }
  animation: smoothAppear 0.3s;
}

.closeButton {
  @apply absolute top-4 right-4 cursor-pointer;
  &:hover {
    path {
      @apply transition-all;
      stroke: #ac403e;
    }
  }
}

.successBorder {
  @apply border-green-600;
}

.warningBorder {
  @apply border-orange-600;
}

.errorBorder {
  @apply border-red-600;
}

.defaultBorder {
  @apply border-[#414141];
}

@keyframes smoothAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
